<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>

- List popular languages for Data Science
- List some used libraries 
- List some data science tools
- How to evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>Java</li>
<li>Julia</li>
<li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>NumPy</li>
<li>Scikit-learn</li>
<li>Pandas</li>
<li>TensorFlow</li>
</ol>


| Data Science Tools |
| --- |
| JupyterNotebook |
| Anaconda |
| Rstudio |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
 # This will convert 200 minutes to hours by diving by 60
    
200/60

3.3333333333333335

<h2>Author</h2>
José Hervás Chico